.banner {
  padding: 200px 0;                /*top&bottom, sides*/
  background-size: cover;           /*not repeated img*/
  background-position: center;      /*picture centered*/
}

.banner h1 {                        /*h1 & p on baner only*/
  color: white;
}

.banner p {
  color: white;
  font-size: 20px;
  opacity: .7;
}


