.footer {
  background-color: #2C2B2B;
  text-align: center;
  padding: 60px;
}

.footer a {
  color: #1CDE87;
  font-size: 30px;
  margin: 0 5px;
}

.footer p {
  color: #666666;
}

.footer .fas {
  color: #BF1013;
}
